* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #444;
    line-height: 1.6;
}

p {
    font-family: 'EB Garamond', serif;
    font-size: 1.05rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-align: justify;
}

main {
    max-width: 60rem;
    margin: 3rem auto;
    padding: 0 1rem;
}

p {
    font-family: 'EB Garamond', serif;
    font-size: clamp(1rem, 1vw + .9rem, 1.25rem);
    margin-bottom: 1.2rem;
    text-align: justify;
}

.title {
    font-weight: 700;
    font-size: clamp(1.8rem, 3vw, 2.4rem);
    color: #61967e;
    margin-bottom: 1.8rem;
}

.highlight-title {
    color: #2a684e;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 12px;
    gap: .8rem;
    margin: 2rem 0;
}

.dot {
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background: #61967e;
}

.dot.dark {
    background-color: #2a684e;
}

/* =========================================================== MENU ============================================================== */
nav {
    background-color: #699b80;
    padding: 1rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    max-width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
    white-space: nowrap;
    padding: 0.4rem 0.8rem;
    font-size: 0.95rem;
    border-radius: 0.4rem;
}

nav a:hover {
    background-color: #83aa89;
}

/* LINKS DESKTOP */
nav .nav-links {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.img {
    padding: 0;
}

.img-logo {
    height: 7vh;
    max-height: 3.5rem;
    width: auto;
    object-fit: contain;
    display: block;
}

.btn-entrar,
.btn-cadastrar,
.btn-nav {
    padding: 0.5rem 1.2rem;
    background-color: #3b4a3b;
    color: white;
    border-radius: 0.6rem;
    font-weight: 700;
    font-family: 'Cinzel Decorative', serif;
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.1);
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.btn-entrar:hover,
.btn-cadastrar:hover {
    background-color: #83aa89;
}

.btn-logout {
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    font-weight: 700;
}

.btn-logout:hover {
    background-color: #c0392b;
}

/* HAMBURGUER MENU 
.hamburger {
    display: none;
    flex-direction: column;
    gap: 0.35rem;
    cursor: pointer;
}*/

.hamburger {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    flex-direction: column;
    gap: .4rem;
    cursor: pointer;
}

.hamburger span {
    width: 1.8rem;
    height: 0.2rem;
    background: #fff;
    border-radius: 5px;
    transition: 0.3s;
}

/* =========================================================== MENU MOBILE =========================================================== */
@media (max-width: 900px) {

    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #699b80;
        width: 100%;
        flex-direction: column;
        gap: 1.2rem;
        padding: 1.5rem 0;
        transform: translateY(-120%);
        opacity: 0;
        visibility: hidden;
        transition: 0.35s ease-in-out;
    }

    .nav-links.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

/* ========================== SECTION NOSSA HISTÓRIA ========================== */
.nossa-historia {
    position: relative;
    max-width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.historia-texto {
    position: absolute;
    background: #fff;
    padding: 0.6rem 1.2rem;
    border-radius: 0.75rem 0.75rem 2rem 0.25rem;
    z-index: 2;
}

.historia-texto h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #2d694d;
    margin: 0;
    font-family: Arial, sans-serif;
}

.historia-imagem img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem;
}

/* Ajuste mobile */
@media (max-width: 600px) {
    .historia-texto {
        position: relative;
        margin: 0 auto 1rem;
        display: inline-block;
    }
}



/* ========================== SECTION MISSÃO ========================== */
.missao-section {
    max-width: 100%;
}

.missao-title {
    font-weight: 700;
    font-size: 1.6rem;
    color: #9a9a9a;
    margin-bottom: 2.5rem;
    font-family: 'EB Garamond', serif;
}

.highlight-missao {
    color: #699b80;
}

.missao-block {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 2.5rem;
}

.missao-block.invert {
    flex-direction: row-reverse;
}

.missao-img-left {
    width: 14rem;
    height: 15rem;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50% 50% 0 0;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .35);
}

.missao-img-right {
    width: 20rem;
    height: 15rem;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50% 35% 55% 40%;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .35);
}

@media (max-width: 768px) {
    .missao-block {
        flex-direction: column !important;
        align-items: center;
        text-align: center;
        gap: 1.25rem;
    }

    .missao-img-left,
    .missao-img-right {
        width: 8.75rem;
        height: 8.75rem;
    }

    .missao-text-left,
    .missao-text-right {
        text-align: center;
    }
}


/* ========================== SECTION VISÃO ========================== */
.visao-section {
    max-width: 100%;
}

.visao-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: nowrap;
}

.visao-image-text img {
    width: 14rem;
    height: 15rem;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50% 50% 0 0;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .35);
}

.visao-text-image img {
    display: none;
}

@media (max-width: 768px) {
    .visao-content {
        flex-direction: column;
        text-align: center;
    }

    .visao-text-image img {
        display: block;
        margin-top: 1.25rem;
        width: 8.75rem;
        height: 8.75rem;
        border-radius: 50%;
    }
}

/* ========================== SECTION VALORES ========================== */
.valores-section {
    max-width: 62rem;

}

.valores-content {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    align-items: center;
}

.valores-list {
    list-style: none;
    flex: 1 1 45%;
    font-size: 1rem;
    color: #6b6b99;
}

.valores-list li {
    margin-bottom: 0.6rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

li {
    font-size: 1.2rem;
}

.green {
    color: #61967e;
}

.dark-green {
    color: #2e6b51;
}

.bullet {
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
}

.bullet-green {
    background: #61967e;
}

.bullet-dark-green {
    background: #2e6b51;
}

.valores-image-container {
    flex: 1 1 45%;
    text-align: center;
}

.valores-image-container img {
    width: 20rem;
    height: 15rem;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50% 65% 45% 50%;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.40);
}

@media (max-width: 768px) {
    .valores-content {
        flex-direction: column;
        text-align: center;
    }

    .valores-list,
    .valores-image-container {
        flex: 1 1 100%;
    }

    .valores-description {
        text-align: center;
    }
}

/* ========================================================== FOOTER ============================================================= */
footer {
    background-color: #699b80;
    color: #fff;
    padding: 2.5rem 1.5rem 1rem;
    font-family: 'EB Garamond', serif;
    font-size: 0.9rem;
}

.footer-container {
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-container>div {
    flex: 1 1 250px;
    min-width: 220px;
}

.footer-container h3 {
    font-family: 'Cinzel Decorative', serif;
    font-weight: 700;
    margin-bottom: 0.8rem;
    color: #c9d6c5;
}

.footer-container p,
.footer-container a {
    color: #d4d9d4;
    line-height: 1.5;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 2rem;
    text-align: center;
    border-top: 1px solid #5a6a5a;
    padding-top: 1rem;
    font-size: 0.85rem;
    color: #aeb5ab;
}